.nav{
    background-color: white;
    overflow: hidden;
    margin: auto;
    text-decoration-color: aliceblue;
}

.nav a{
    color: black;
    line-height:100px;
    font-size: 50px;
    font-family: 'Harry Potter', sans-serif;
}