.navw{
    padding-top: 20px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 12vh;
    background-color: rgb(0, 0, 0,.2);
 
}

.navw a{
    color:white;
    line-height:100px;
    font-size: 60px;
    font-family: 'Harry Potter', sans-serif;
}